.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    background-color: red;
    padding: 0px;
    margin: 0px;
}

.standardPanel {
    width: 800px;
    background-color: var(--AltDark);
    color: var(--Light);
    position: relative;
}

.splashHeader {
    text-align: left;
    padding: 1vw;
    margin: 0px;
    /*background-color: var(--Dark);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);*/
    color: var(--Accent);
    width: fit-content;
    margin-top: 15vh;
    margin-bottom: 25vh;
}

.splashHeader h1{
    font-size: 8vw;
    padding: 0px;
    margin: 0px;
}

.splashHeader h2{
    font-size: 1.5vw;
    padding: 0px;
    margin: 0px;
}