.dynamic-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--BackgroundBack); /* Change to your preferred background color */
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: var(--Accent); /* Semi-transparent white */
    opacity: 0.5;
}