.dynamic-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--BackgroundBack);
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: var(--Accent);
    opacity: 0.5;
}